{% extends 'student_sidebar.html' %}
{% load staticfiles %}
{% block headers %}
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
{% endblock %}
{% block content %}

            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->

                           <h2 class="pageheader-title">Project Status </h2>


                    <section class="cd-timeline js-cd-timeline">
                        <div class="cd-timeline__container">


                            <div class="cd-timeline__block js-cd-block">
                                {% if student.st_project_status >= 2 %}
                                <div class="cd-timeline__img cd-timeline__img--green js-cd-img">
                                </div>
                                {% endif %}
                                 {% if student.st_project_status < 2 %}
                                <div class="cd-timeline__img cd-timeline__img--yellow js-cd-img">
                                </div>
                                {% endif %}
                                <!-- cd-timeline__img -->
                                <div class="cd-timeline__content js-cd-content">
                                    <h3>Guide Approval</h3>
                                        {% if student.st_project_status == 0 %}
                                            <h6><a href="{% url 'project:project' %}" style="text-align:right; color:red;">*Modify</a></h6>
                                    {% endif %}
                                    <span class="cd-timeline__date">12 July, 2016</span>
                                </div>
                                <!-- cd-timeline__content -->
                            </div>
                            <!-- cd-timeline__block -->
                            <div class="cd-timeline__block js-cd-block">
                                {% if student.st_project_status >= 4 %}
                                <div class="cd-timeline__img cd-timeline__img--green js-cd-img">
                                </div>
                                {% endif %}
                                 {% if student.st_project_status < 4 %}
                                <div class="cd-timeline__img cd-timeline__img--yellow js-cd-img">
                                </div>
                                {% endif %}
                                <!-- cd-timeline__img -->
                                <div class="cd-timeline__content js-cd-content">
                                    <h3>Director Review</h3>
                                    <span class="cd-timeline__date">20 July, 2017</span>
                                </div>
                                <!-- cd-timeline__content -->
                            </div>
                            <!-- cd-timeline__block -->
                            <div class="cd-timeline__block js-cd-block">
                                {% if student.st_project_status >= 5 %}
                                <div class="cd-timeline__img cd-timeline__img--green js-cd-img">
                                </div>
                                {% endif %}
                                 {% if student.st_project_status < 5 %}
                                <div class="cd-timeline__img cd-timeline__img--yellow js-cd-img">
                                </div>
                                {% endif %}
                                <!-- cd-timeline__img -->
                                <div class="cd-timeline__content js-cd-content">
                                    <h3>IRB Review</h3>
                                    {% if student.st_project_status == 6 %}
                                            <h6><a href="#" style="text-align:right; color:red;">*Modify</a></h6>
                                    {% endif %}
                                    <span class="cd-timeline__date">24 July, 2018</span>
                                </div>
                                <!-- cd-timeline__content -->
                            </div>
                            <!-- cd-timeline__block -->
                            <div class="cd-timeline__block js-cd-block">
                                {% if student.st_project_status >= 9 %}
                                <div class="cd-timeline__img cd-timeline__img--green js-cd-img">
                                </div>
                                {% endif %}
                                 {% if student.st_project_status < 9 %}
                                <div class="cd-timeline__img cd-timeline__img--yellow js-cd-img">
                                </div>
                                {% endif %}
                                <!-- cd-timeline__img -->
                                <div class="cd-timeline__content js-cd-content">
                                    <h3>Final Review</h3>
                                    <span class="cd-timeline__date">12 September, 2018</span>
                                </div>
                                <!-- cd-timeline__content -->
                            </div>
                            <!-- cd-timeline__block -->
                            <div class="cd-timeline__block js-cd-block">
                                <div class="cd-timeline__img cd-timeline__img--yellow js-cd-img">
                                </div>
                                <!-- cd-timeline__img -->
                                <div class="cd-timeline__content js-cd-content">
                                    <h3>Budget Sanction</h3>
                                    <span class="cd-timeline__date">20 September, 2018</span>
                                </div>
                                <!-- cd-timeline__content -->
                            </div>
                            <!-- cd-timeline__block -->
                            <div class="cd-timeline__block js-cd-block">
                                <div class="cd-timeline__img cd-timeline__img--red js-cd-img">
                                </div>
                                <!-- cd-timeline__img -->
                                <div class="cd-timeline__content js-cd-content">
                                    <h3>Final Submission</h3>
                                    <p>This is the content of the last section</p>
                                    <span class="cd-timeline__date">1 October, 2018</span>
                                </div>
                                <!-- cd-timeline__content -->
                            </div>
                            <!-- cd-timeline__block -->
                        </div>
                    </section>
                    <!-- cd-timeline -->

                  <!-- ============================================================== -->
                    <!-- end timeline  -->
                    <!-- ============================================================== -->
            </div>
                    </div>
{% endblock %}